:root{
    --branco-texto:#FFFF;
    --roxo-nu:#842EAD;
    --dourado:#d7b661;
    --fonte-principal: 'Inter';
}
.cabecalho{
    display: inline-flex;
    text-align: center;
    background-color: var(--branco-texto);
    color: var(--roxo-nu);
}

.cabecalho__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 2em 2em;
    
}

.lista__item a{
    text-decoration: none;
    color: var(--roxo-nu);
    margin-left: 4em;
}

.logo__cabecalho{
    width: 8%;
    margin: 1em 4em;
}

body{
    background-color: var(--roxo-nu);
    color:var(--branco-texto);
    font-family: var(--fonte-principal);
    text-align: center;
    margin: 0 5em;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.principal{
    background-color: var(--roxo-nu);
    background-image: url("img/fundoNu.png");
    background-size: contain ;
    background-repeat: no-repeat;
    align-items: center;
}

.container__texto{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin: 0 16em 5em 0;
        
}

.container__imagem{
    width: 80%;
    margin: 0 0 10em 5em;
}

.lista__item a:hover{
    color:var(--dourado);
    font-size: 110%;
    transition: 0.3s;
}

.lista__item a:active{
    opacity: 30%;
}

.container__imagem:hover{
    width: 85%;
    transition: 0.3s;
}
